@import 'vars';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: $font-family;
  height: 100%;
}

main {
  position: absolute;
  height: 100%;
  right: 0;
  left: $menu-width;
}

