
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: $font-paragraph;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

