@import 'vars';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: $font-family;
  height: 100%;

  overflow: hidden;
}

main {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;

  transition: left 200ms ease;
}


@media screen and (min-width: 768px) {

  main {
    left: $menu-width;
  }

}

