@import 'base';

$selected-bg:  #036bb4;
$hover-bg: #fff;

ul.bool {
    list-style: none;
    padding: 0;
    margin: 0;

    li.bool__answer {
        position: relative;
        padding: 10px;
        width: 49%;
        float: left;
        cursor: pointer;

        background: rgba(255, 255, 255, .8);

        &:first-child {
            margin-right: 1%;
        }

        &:last-child {
            margin-left: 1%;
        }

        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '';

            -webkit-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            transition-duration: 400ms;

            transform: scaleX(-100%);

            background: $hover-bg;
            visibility: none;
            opacity: 0;
            z-index: -1;

        }

        &:hover {

            &:after {
                opacity: 1;
                visibility: visible;
                height: 100%;
                transform: scaleX(1);
            }

        }

        &.bool__answer--active {

            color: white;

            .bool__tick {
                -webkit-animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
                -moz-animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
                animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
                opacity: 1;
            }

            &:after {
                opacity: 1;
                visibility: visible;
                height: 100%;
                background: $selected-bg;
                transform: scaleX(1);
            }
        }

    }

    input {
        visibility: hidden;
        position: absolute;
    }

}
