
$genric--bg: #036bb4;

$accent__House: #036bb4;
$accent__House--bg: $genric--bg; 
$accent__HomeSafety: #559f67;
$accent__HomeSafety--bg: #6cc782;
$accent__LivingRoom: #ff7d0b;
$accent__Bedroom: #036bb4;
$accent__LivingRoom--bg: $genric--bg;
$accent__Kitchen: #559f67;
$accent__Kitchen--bg: #6cc782;

// -------------------------------------
// Shared 
// -------------------------------------

#location__generic,
.location {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    z-index: 1;

    &:after {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;    

        -webkit-background-size: 100% 100%;
        -webkit-background-size: cover;
        -moz-background-size: 100%;
        -moz-background-size: cover;

        background-size: 100%;
        background-size: cover;
        background-attachment: fixed;        
        background-position: center;
    }

}


// -------------------------------------
// Status Circle at the bottom 
// -------------------------------------

.location__status {
    position: absolute;
    top: auto;
    bottom: 40px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;

    height: 100px;
    width: 100px;

    color: white;
    background: white;
    border-radius: 50%;

    box-shadow: 0px 1px 32px -1px rgba(0, 0, 0, 0.3);

    .location__img {
        height: 96px;
        width: 96px;
        padding: 10px;
    }

}

// -------------------------------------
// Backgrounds 
// -------------------------------------

#app.location__wrapper--generic #location__generic {
    z-index: 9;
}

#location__generic {
    &:after {
        background-image: url('../img/location__generic.jpg');
    }
}

#location__Bedroom {
    &:after {
        background-image: url('../img/location__bedroom.svg');
        opacity: .8;
    }
    .location__status {
        border: 2px solid $accent__Bedroom;
    }
}

#location__HomeSafety {

    &:after {
        background-image: url('../img/location__bedroom.svg');
    }



}

#location__LivingLoungeRoom {

    &:after {
        background-image: url('../img/location__lounge.svg');
        opacity: .8;
    }
    .location__status {
        border: 2px solid $accent__LivingRoom;
    }
}

#location__Kitchen {
    &:after {
        background-image: url('../img/location__bedroom.svg');
    }
}

// -------------------------------------
// Overwrites 
// -------------------------------------

.card--Bedroom {

    .card__question {
        background: $accent__Bedroom;

        &:before {
            background-image: url('../img/vector__question-top--bedroom.svg');
        }

        &:after {
            background-image: url('../img/vector__question-bottom--bedroom.svg');     
        }

        .card__question-bg {
            background-image: url('../img/vector__question-fold--bedroom.svg');             
        }

    }

    ul.bool li.bool__answer.bool__answer--active {
        background: $accent__Bedroom;
        color: white;
    }

    ul.choice li.choice__answer.choice__answer--active {
        background: $accent__Bedroom;
        color: white;
    }

    ul.multi-choice li.multi-choice__answer.multi-choice__answer--active {
        background: $accent__Bedroom;
        color: white;
    }

}


// -------------------------------------
// LivingLoungeRoom 
// -------------------------------------

.card--LivingLoungeRoom {

    .card__question {
        background: $accent__LivingRoom;

        &:before {
            background-image: url('../img/vector__question-top--lounge.svg');
        }

        &:after {
            background-image: url('../img/vector__question-bottom--lounge.svg');     
        }

        .card__question-bg {
            background-image: url('../img/vector__question-fold--lounge.svg');             
        }

    }

    ul.bool li.bool__answer.bool__answer--active {
        background: $accent__LivingRoom;
        color: white;
    }

    ul.choice li.choice__answer.choice__answer--active {
        background: $accent__LivingRoom;
        color: white;

    }

    ul.multi-choice li.multi-choice__answer.multi-choice__answer--active {
        background: $accent__LivingRoom;
        color: white;
    }

}

