@import 'base';

$selected-bg: #5d9ab4;
$hover-bg: #ebebeb;

ul.multi-choice {
    list-style: none;
    padding: 0;
    margin: 0;

    li.multi-choice__answer {
        position: relative;
        padding: 10px;
        max-width: 360px;
        margin: 20px auto;
        padding: 16px;

        cursor: pointer;

        background: rgba(255, 255, 255, .8);
        box-shadow: 0px 6px 32px -5px rgba(0, 0, 0, 0.3);
        
        &:first-child {
            margin-top: 0;
        }

        input {
            visibility: hidden;
            position: absolute;
        }

        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '';

            -webkit-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            transition-duration: 400ms;

            transform: scaleX(-100%);

            background: $hover-bg;
            visibility: none;
            opacity: 0;
            z-index: -1;

        }

        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
                height: 100%;
                transform: scaleX(1);
            }
        }

        &.multi-choice__answer--active {
            &:after {
                opacity: 1;
                visibility: visible;
                height: 100%;
                // background: $selected-bg;
                transform: scaleX(1);
            }
        }

    }

}

