@import 'base';
@import 'animations';

$text-color:  #5d9ab4;
$btn-bg: #5d9ab4;

#start-page {
    @include fxFlex;
    @include fxDirection;

    width: 600px;
    height: 100%;
    padding: 20px;
    margin: 20px auto;

    position: absolute;
    margin: auto;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;

    // Stack order
    z-index: 10;

    background: white;
    color: $text-color;
    border-radius: 0 2px 2px 0;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration: 400ms;

    // Not sure why this is needed
    transform: translateX(0);

    .start-page__icon {
        height: 60px;
        width: 60px;
        margin: 10px auto;

        &.start-page__icon--active {
            opacity: 1;
            -webkit-animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
            -moz-animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
            animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
        }

    }

    .start-page__content {
        @include fxGrow(1);
    }

    .start-page__btn-wrap {
        @include fxFlex;
    }

    .start-page__close-btn {
        content: 'X';
        position: absolute;
        top: 20px;
        right: 20px;
        width: 18px;    
        cursor: pointer;
    }

    .start-page__content {
        @include fxGrow(1);
    }

    .start-page__footer { 
        padding: 20px;
    }

    .start-page__start-btn, 
    .start-page__reset-btn, 
    .start-page__continue-btn {
        display: block;
        cursor: pointer;
        padding: 10px 20px;
        background: $btn-bg;
        border-radius: 2px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;

        margin-bottom: 10px;

    }

    .start-page__reset-btn, .start-page__continue-btn {
        // show after start
        display: none;
    }

    .start-page__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 18px;    
        cursor: pointer;

        // show after start
        display: none;

    }

}
