@import 'base';
@import 'animations';

$text-color:  #5d9ab4;
$btn-bg: #5d9ab4;

#summary {
    @include fxFlex;
    @include fxDirection;

    width: 600px;
    height: 100%;
    padding: 20px;
    margin: 20px auto;

    position: absolute;
    margin: auto;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 50;

    background: white;
    color: $text-color;
    border-radius: 0 2px 2px 0;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration: 400ms;

    // Not sure why this is needed
    transform: translateX(0);

    .summary__overall-score {

    }

    .summary__icon {
        height: 60px;
        width: 60px;
        margin: 10px auto;

        &.summary__icon--active {
            opacity: 1;
            -webkit-animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
            -moz-animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
            animation: scale-in-center 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ;
        }

    }

    .summary__content {
        @include fxGrow(1);
    }

    .summary__btn-wrap {
        @include fxFlex;
    }

    .summary__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 18px;    
        cursor: pointer;
    }

    .summary__content {
        @include fxGrow(1);
    }

    .summary__footer {
        padding: 20px;
    }

    .summary__reset-btn, .summary__continue-btn {
        display: block;
        cursor: pointer;
        padding: 10px 20px;


        background: $btn-bg;
        border-radius: 2px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
    }

    .fact__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 18px;    
        cursor: pointer;

    }

    .summary__location-result {
        @include fxFlex;
        @include fxAlign;

        margin-bottom: 20px;

        .summary__location-icon{
            height: 60px;
            width: 60px;

            color: white;
            background: white;
            border-radius: 50%;

            box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.3);

            img {
                height: 60px;
                width: 60px;
                padding: 8px;
            }
        }

        h4 {
            margin-left: 15px;
        }

        span {
            margin-left: auto;
            margin-left: auto;
            font-size: 20px;
            margin-right: 10px;
            color: #34728e;

        }


    }

}
