
// Theme 1
$clr-dark-purple: #171219;
$clr-blue: #225560;
$clr-yellow: #EDF060;
$clr-orange: #F0803C;
$clr-purple: #310D20;

// Neutral Theme
$theme-neutral__bg--light: #f2f2f2;
$theme-neutral__bg--x-light: white;
$theme-neutral__bg--dark: #414141;
$theme-neutral__bg--x-dark: #252525;

// Text
$text-clr: #525252;
$text-clr-heading: #414142;
$font-heading: 'Open Sans',
sans-serif;
$font-paragraph: 'Open Sans',
sans-serif;
// ------------------------------------------
// Spacing layout 
$gap-small: 8px;
$gap: 16px;
$gap-big: 32px;
$gap-bigger: 48px;
// ------------------------------------------
// Text
$font-size: 15px;
$font-size-small: 12px;
$font-size-smaller: ($font-size * 0.67);
$font-size-large: ($font-size * 1.27);
$font-size-larger: ($font-size * 1.67);
$font-size-largest: ($font-size * 2.1);
