
// Theme 1
$clr-dark-purple: #171219;
$clr-blue: #225560;
$clr-yellow: #EDF060;
$clr-orange: #F0803C;
$clr-purple: #310D20;


$gray-20: #fafafa;
$gray-40: #ddd;
$gray-60: #414141;
$gray-80: #252525;

// Text
$text-clr: #525252;
$text-clr-heading: #414142;
$font-family: 'Open Sans',
sans-serif;
$font-famil--heading: 'Open Sans',
sans-serif;

// ------------------------------------------
// Text
$font-size: 16px;
$font-size--small: 14px;

$gutter: 16px;

$menu-width: 160px;